@font-face {
    font-family: 'Futura';
    src: url('../typography/fonts/FuturaPT-Book.woff2') format('woff2'),
        url('../typography/fonts/FuturaPT-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Futura';
    src: url('../typography/fonts/FuturaPT-Medium.woff') format('woff2'),
        url('../typography/fonts/FuturaPT-Medium.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Futura';
    src: url('../typography/fonts/FuturaPT-Light.woff2') format('woff2'),
        url('../typography/fonts/FuturaPT-Light.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Futura';
    src: url('../typography/fonts/FuturaPT-Bold.woff2') format('woff2'),
        url('../typography/fonts/FuturaPT-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }