*,*::before, *::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  background-image: url("../images/body-bgi-img.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #E5E5E5;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}