.hero{
    margin-top: 61px;
    margin-bottom: 52px;
    padding: 153px 0 238px;
    background-image: url("../images/hero-bgi.png"), url("../images/parrot.png");
    background-repeat: no-repeat;
    background-size: 870px 835px, 319px 430px;
    background-position: calc(50% - 520px) calc(50% - 130px), calc(50% + 670px) bottom;
  }
  
  .hero__list{
    width: 100%;
    max-width: 608px;
    margin-right: 32px;
    margin-left: auto;
  }
  
  .hero__item{
    max-width: 495px;
  }
  
  .hero__title{
    font-family: 'Futura';
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: #333333;
  }
  
  .hero__title-item{
    color: #78C0DE;
  }
  
  .hero__text{
    font-family: 'Futura';
    margin: 0;
    margin-bottom: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #949494;
  }
  
  .hero__link{
    display: inline-block;
    padding: 16px 48px;
    font-family: 'Futura';
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: #FFFFFF;
    background: #333333;
    border-radius: 3px;
  
    &:hover{
      opacity: 0.8;
    }
  
    &:active{
      opacity: 0.6;
    }
  } 

  .quote{
    margin-bottom: 191px;
  } 
  
  .quote__list{
    width: 100%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  
  }
  
  .quote__item{
    margin-right: auto;
    margin-bottom: 35px;
    margin-left: auto;
    padding: 0 90px;
    background-image: url("../images/block-left.png"), url("../images/block-right.png");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: left top, right bottom;
  }
  
  .quote__line{
    display: inline-block;
    width: 100%;
    max-width: 140px;
    height: 1px;
    background-color: #DBDBDB;
  }
  
  .quote__title{
    margin: 0;
    margin: 43px 0 35px;
    font-family: 'Futura';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #949494;
  }
  
  .quote__text{
    font-family: 'Futura';
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
  }