.newsgramm {
    margin-bottom: 112px;
    padding-bottom: 153px;
}


.news__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.news__list {
    @include list-global;
    @include flex-start;   
}

.news__item {
    max-width: 305px;
    width: 100%;
    border: 1px solid #E4E4E2;
    border-radius: 5px;

    &:nth-child(2) {
        display: flex;
        align-items: center;
        max-width: 640px;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #F3F3F3;
        border-radius: 5px;
    }

}


.news__link-tops {
    display: flex;
    align-items:center;
}

.news__link-edd {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3D9CEA;
    margin-right: 8px;
}

.news__link-edd:nth-child(3) {
    margin-right: 67px;
}

.news__img {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0px 0px;
}

.news__box {
    width: 100%;
    max-width: 305px;
    padding: 0px 22px 35px 22px;
}

.news__clock {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #949494;
    text-align: right;
}

.news__sub {
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
}

.news__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    margin-bottom: 36px;
}



.news__link {   
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    text-decoration: none;
}

.news__link-box {
    padding-left: 25px;
    background-image: url("../images/menu-pet.svg");
    background-repeat:no-repeat;
    background-size: 23px 20px;
    background-position: left center;
}