.subscirbe {
    padding-top: 235px;
    padding-bottom: 251px;
    background-image:url("../../images/subscribe-bgi-img.png");
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center;
    position: relative;

    &::after {
        background-image:url("../../images/subscribe-wolf-ig.png");
        background-repeat:no-repeat;
        background-size: 613px 481px;
        width: 613px;
        height: 481px;
        content: "";
    }
}

.subscribe_content {
    padding-left: 207px;
}

.subs__title {
    @include flex-start;
    font-family: 'Futura';
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    color: #FFFFFF;
    padding-bottom: 23px;
}

.input_field {
    @include flex-start;
    width: 335px;
    padding: 18px 147px 12px 22px;
    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'Futura';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    margin-right: 22px;
    border: none;
}


.subs__form {
    display: flex;
    align-items: center;
}

.subs-btn {
    padding: 16px 53px 14px 51px;
    background: #333333;
    border-radius: 3px;
    font-family: 'Futura';
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
        background: rgba(51, 51, 51, 0.8);
    }

    &:active {
        background: rgba(51, 51, 51, 0.6);
    }
}