.subscribe {
    margin-bottom: 151px;
    padding: 108px 0 65px;
    background-image: url("../images/subscribe-wolf-ig.png"), url("../images/subscribe-bgi-img.png");
    background-repeat: no-repeat;
    background-size: 613px 481px, 100% 308px;
    background-position: calc(50% + 445px) calc(50%), center calc(50% + 21px) ;
    padding: 90px 222px 88px;
}


.subscribe__content {
    padding: 90px 222px 88px;
}

.subscribe__title {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: #FFFFFF;
}

.subscribe__input-field {
    @include flex-start;
    width: 335px;
    padding: 18px 147px 12px 22px;
    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'Futura';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    margin-right: 22px;
    border: none;
}


.subscribe__form {
    display: flex;
    align-items: center;
}

.subscribe-btn {
    padding: 15px 52px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background: #333333;
    border: none;
    border-radius: 3px;

    &:hover {
        background: rgba(51, 51, 51, 0.8);
    }

    &:active {
        background: rgba(51, 51, 51, 0.6);
    }
}